.slider__frame {
  // width: ;
  // height: ;
  // overflow: hidden;
}

.slider__list {
  padding: 0;
  display: flex;
}

.slider__item {
  // width: ;
  // height: ;
  // flex-shrink: 0;
}

.cover-image {
  object-fit: cover;
}
